
<ion-view view-title="Login" name="login-view" >
  <ion-content class="padding" overflow-scroll="false" padding-bottom="true">
          <label class="item item-input">
              <input type="text" placeholder="Usuario" ng-model="data.username" >
          </label>
          <label class="item item-input" >
              <input type="password" placeholder="Contraseña" ng-model="data.password" >
          </label>
      <div class="tabs">
        <div class="button-bar">
          <a  class="button button-block icon-left ion-log-in button-calm" ng-click="login()" >Login</a>
          <a href="#/pagina/registro" class="button button-block icon-left ion-compose button-calm ">Registrarse</a>
        </div>
      </div>      
  </ion-content>
</ion-view>

