
<ion-view title="{{posts}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
    <button ng-click="locate();disabled = !disabled;Iniciar();" class="button button-icon icon ion-pinpoint">{{disabled ? 'Iniciar' : 'Terminar'}}</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-log-out" href="#/login">Salir</a>
  </ion-nav-buttons>
  <ion-content data-tap-disabled="false">
    <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map"></leaflet>
  </ion-content>
</ion-view >
