<!--<ion-view view-title="Registro de Datos">
  <ion-content class="padding" overflow-scroll="false" padding-bottom="true" > 
  <!--<div class="list list-inset">-->
<!--          <label class="item item-input" >
              <input type="number" required="required" placeholder="Cedula" id="" ="ced" >
          </label>
          <label class="item item-input">
              <input type="text" required="required" placeholder="Nombres" id="nomb">             
          </label>
          <label class="item item-input">
              <input type="text" required="required" placeholder="Apellidos" id="Apell">             
          </label>
         <label  class = "item">
            <div  class = "input-label">
              <select  id="select" ng-model="gen">
                <option selected>Femenino</option>
                <option >Masculino</option>
              </select>
            </div>
          </label>
          <label class="item item-input">
              <input type="text" required="required" placeholder="Fecha Nacimiento" id="FNac" >             
          </label>
          <label class="item item-input">
              <input type="email" placeholder="Correo" required="" id="correo">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Contraseña" required="" id="cont">
          </label>
          <label class="item item-input">
              <input type="number" placeholder="Celular" id="cel">
          </label>
    <!--</div>-->
<!--    <div class="tabs tabs-icon-only">
            <div class="button-bar">
               <a class="button button-block ion-archive icon-left button-calm" ng-click="ingreso()">Guardar</a>
               <a class="button button-block ion-close-circled icon-left button-calm" href="#/login">Cancelar</a>
            </div>  
          </div>     
          
  </ion-content>
</ion-view>-->

<ion-view view-title="Registro" >
  <ion-content class="padding" overflow-scroll="false" padding-bottom="true" >
          <label class="item item-input" >
              <input type="text" placeholder="Cedula" id="cedula" ng-model="data.cedula" >
          </label>
          <label class="item item-input" >
              <input type="text" placeholder="Nombres" id="nombres" ng-model="data.nombres" >
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Apellidos" id="apellidos" ng-model="data.apellidos">
          </label>
          <label  class = "item">
            <div  class = "input-label">
              <select  id="select" ng-model="data.genero">
                <option value ="0">Femenino</option>
                <option value = "1">Masculino</option>
              </select>
            </div>
          </label>
          <label class="item item-input">
              <input type="date" placeholder="Fecha Nacimiento" ng-model="data.FNac">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="correo" ng-model="data.correo" >
          </label>
          <label class="item item-input">
              <input type="text" placeholder="celular" ng-model="data.celular" >
          </label>
          <label class="item item-input" >
              <input type="password" placeholder="clave" ng-model="data.clave" >
          </label>
          
         <!--<div>
            {{posts}}
          </div>-->
      <div class="tabs">
        <div class="button-bar">
          <a  class="button button-block icon-left ion-log-in button-calm" ng-click="ingreso()" >Guardar</a>
          <a href="#/login" class="button button-block icon-left ion-compose button-calm ">Cancelar</a>
        </div>
      </div>      
  </ion-content>
</ion-view>

