<ion-nav-view name="tab-registro"></ion-nav-view>

  <!--<ion-tab title="Registro" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/templates/registro">
    <ion-nav-view name="tab-registro"></ion-nav-view>
  </ion-tab>-->