/* Empty. Add your own CSS if you like */
body {
  height: auto;
  min-height: 100%;
}

.scroll, .angular-leaflet-map {
  height: 100%;
}

.leaflet-bottom {
  bottom : 10px;
}

.item.item-body p {
  margin-top: 0;
}

.tabs.border-top {
  border-top: 1px solid #ddd !important;
}
#select {
	border: none;
	height: 200%;
	background-color: white;
	font-weight: 400;
}